VITE_API_URL=http://localhost:8080
VITE_WS_URL=http://localhost:8080/ws
VITE_SUPABASE_URL=https://bwmxmswnarwfaemeaxeh.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_MjFtfVUu3bGzmnUJIV9InA_XGKVSYox
